<% include ../partials/header %>

<div class="container col-md-6 pb-5">
    <h1>Admin Links</h1>
    <p><a href="/admin/featuredActivities">Featured Activities</a></p>
    <p><a href="/admin/brokenLinks">Broken Links</a></p>
    <p><a href="/admin/userPermissions">User Permissions</a></p>
    <p><a href="/admin/allComments">All Comments</a></p>
    <p><a href="/admin/allEndDates">All End Dates</a></p>
    <p><a href="/admin/customScript">Custom Script</a></p>
</div>

<% include ../partials/footer %>