<% include ../partials/header %>

<div class="container col-md-6 pb-5">
    <h1>User Permissions</h1>
    <% users.forEach(function(user){ %>
        <p><%= user.displayName %></p>
    <% }) %>
</div>

<% include ../partials/footer %>