	<footer class="footer">
        <div class="container">
          <span class="text-muted">
          	&copy; Sociable Life <%= (new Date()).getFullYear() %> 
          | <a href="/activities">Home</a> 
          | <a href="/activities/new">New Activity</a>
          </span>
    	</div>
     </footer>
	
	<!-- Bootstrap and it's dependencies -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	
	<!-- Custom JS-->
	<script src="/js/main.js"></script>
	
</body>
</html>