

    <!-- COOKIES -->
    <div class="container">
        <div class="alert alert-dark alert-dismissible text-center cookiealert" role="alert">
        <!--<div class="alert alert-danger alert-dismissible fade show" role="alert">-->
            <div class="cookiealert-container">
                <b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website. Is that ok? <a href="/privacy">Learn more</a>
        
                <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">Yes, that's ok</button>
            </div>
        </div>
    </div>
    <!-- /COOKIES -->
	
	<!--<footer class="footer">-->
 <!--       <div class="container">-->
 <!--         <span class="text-muted">-->
 <!--         	&copy; Sociable Life <%= (new Date()).getFullYear() %> -->
 <!--         | <a href="/">Home</a> -->
 <!--         | <a href="/activities">Activity Map</a>-->
 <!--         | <a href="/aboutUs">Our Story</a>-->
 <!--         | <a href="/contact">Contact</a>-->
 <!--         | <a href="/terms">Terms & Conditions</a>-->
 <!--         | <a href="/privacy">Privacy Policy</a>-->
 <!--         | <a class="text-danger" href="/contact">Something Wrong?</a>-->
 <!--         </span>-->
 <!--   	</div>-->
 <!--    </footer>-->


<!--close wrapper div from header-->
</div>

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="/">Home</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="/activities">Activity Map</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="/aboutUs">Our Story</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="/contact">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="/terms">Terms & Conditions</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="/privacy">Privacy Policy</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a class="text-danger" href="/contact">Something Wrong?</a>
              </li>
            </ul>
            <p class="text-muted mb-3 mb-lg-0">&copy; Sociable Life <%= (new Date()).getFullYear() %></p>
          </div>
          <div class="col-lg-2 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="https://twitter.com/SociableLife">
                  <i class="fa fa-twitter fa-2x fa-fw" title="Twitter Link"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="https://www.facebook.com/SociableLife/">
                  <i class="fa fa-facebook-square fa-2x fa-fw" title="Facebook Link"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
	
	<!-- Bootstrap and it's dependencies -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	
	<!-- Custom JS-->
	<script src="/js/main.js"></script>
	<script src="/js/cookieAlert.js"></script>
	
</body>
</html>