<% include ../partials/header %>

<div class="container pb-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <header class="jumbotron text-center">
               <h1>Edit Activity Picture: <%= activity.name %></h1> 
            </header>
        </div>
        
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
            <form id="updateForm" action="/activities/<%= activity._id %>/updateImage?_method=PUT" method="POST" enctype="multipart/form-data">
                
                <div class="container">
                    <div class="form-group">
                        <div class="row justify-content-center align-items-center">
                            <label class="col-md-4 col-sm-5" for="imageUpload"><span class="align-text-top">Activity Picture</span></label>
                            <div class="custom-file col-md-8 col-sm-7">
                                <input type="file" class="custom-file-input" id="imageUpload" name="image" accept="image/*">
                                <label class="custom-file-label" for="imageUpload">Choose file (10MB Limit)</label>
                            </div>
                        </div>
                    </div>
                </div> 
                
                <!-- Submit form button-->
                <div class="container">
                    <div class="form-group">
                        <div class="row justify-content-end">
                            <button class="col-md-8 btn btn-lg btn-primary btn-block">Update Activity Picture</button>
                        </div>
                    </div>
                </div>
            </form>
            <a href="/activities/<%= activity._id %>">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>