<% include ../partials/header %>

<div class="container">

    <% if(currentUser && currentUser.isAdmin){ %>
        <h1>You're an admin!</h1>
    <% } %>

    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Sociable Life</h1>
            <p>View our hand-picked activities from all over the UK!</p>
            <p><a class="btn btn-primary btn-lg" href="/activities/new">Add new activity</a></p>
        </div>
    </header>
</div>
    
<!-- MAP SECTION START -->
<div class="mb-4" id="activity-index-map"></div>
<!-- MAP SECTION END -->

<div class="container mb-3">
    <div class="col-md-3 float-left">
        <input id='searchQueryInput' class="form-control mr-1" type="text" name="search" placeholder="Activity search...">
    </div>
    <button id='searchQueryBtn' class="btn btn-secondary">Search</button>
</div>

<div class="container">
    <!-- GENERATE ACTIVITY GRID WITH AJAX-->
    <div class="row text-center" id="activity-grid">
        
    </div>
</div>

<!-- Need to fix this async defer to make sure the loading is in the correct order -->
<script src="/js/activityIndex.js"></script>
<script src="/js/mapIndex.js"></script>
<script defer src="/js/searchIndex.js"></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.32&key=<%= process.env.MAPPING_API_KEY %>&callback=initActivityIndexMap"></script>

<% include ../partials/footer %>