<% include ../partials/header %>

<!--Include a style to remove the body padding needed for the nav bar, so the map is flush with the top of the page-->
<style>
    body {
        padding-top: 56px;
    }
</style>

<div class="container">
    <% if(currentUser && currentUser.isAdmin){ %>
        <h1>You're an admin!</h1>
    <% } %>
</div>
    
<!-- MAP SECTION START -->
<div class="mb-3" id="activity-index-map"></div>
<!-- MAP SECTION END -->


<!-- MAP SEARCH START -->
<div class="container d-flex flex-wrap align-items-start mb-1 justify-content-between">
    
    <div class='col-lg-5 mb-1 nopadding'>
        <div class="input-group align-items-baseline mb-2">
            <label for="location">Find Activities</label>
            <input id='setLocationInput' class="form-control ml-2" type="text" name="location" placeholder="Where are you?">
            <div class="input-group-append">
                <button id='findNearMeClearBtn' class="btn btn-outline-secondary" type="button" style="display: none;"><i class="fa fa-times"></i></button>
                <button id='findNearMeBtn' class="btn btn-success" type="button">Find</button>
            </div>
        </div>

        <div class="collapse" id="collapseDistanceSearch">
            <div class="nopadding input-group align-items-baseline mb-2 col-lg-8 col-md-8 col-sm-10">
              <label for="distance">Distance (Miles)</label>
              <input id='setDistanceInput' type="number" name="distance" class="form-control ml-1" placeholder="E.g. 20" min="1" max="50">
              <div class="input-group-append">
                <button id='setDistanceMinusBtn' class="btn btn-outline-primary" type="button"><i class="fa fa-minus"></i></button>
                <button id='setDistancePlusBtn' class="btn btn-outline-success" type="button"><i class="fa fa-plus"></i></button>
              </div>
            </div>
        </div>
    </div>
    
    <div class="input-group align-items-baseline mb-2 col-lg-6 nopadding"> <!-- Use 6 for search and 5 for the loaction box, then use justify-content-between to create a gap on large screens-->
        <label for="search">Search Activities</label>
        <input id='searchQueryInput' class="form-control ml-2" type="text" name="search" placeholder="e.g. disco">
        <div class="input-group-append">
            <button id='searchQueryClearBtn' class="btn btn-outline-secondary" type="button" style="display: none;"><i class="fa fa-times"></i></button>
            <button id='searchQueryBtn' class="btn btn-success" type="button">Search</button>
        </div>
    </div>
    
    
    <!-- "Reset Search" and "Refine Search" buttons div -->
    <div class="d-flex align-items-start col-12 nopadding">
        <div class="col nopadding col-md-9 col-7 mb-2">
            <button id='moreFiltersBtn' class="btn btn-info btn-block">Refine Search <i class="fa fa-arrow-down"></i></button>
        </div>
        <div class="col nopadding col-md-3 col-5 d-flex ">
            <button id='resetSearchBtn' class="btn btn-primary btn-block ml-3 mb-2" onclick="resetSearch()">Reset Search</button>
        </div>
    </div>
    
    <!-- More filters collapsible div-->
    <div class="collapse col-12 nopadding" id="collapseMoreFilters">
        <!--<div class="alert alert-primary mt-2 text-center" role="alert">-->
        <!--    Sorry, we're still building this feature 🛠 we'll have it ready as soon as possible!-->
        <!--</div>-->
        
        <div class="d-flex flex-row flex-wrap alert alert-primary mt-2" role="alert">
            
            <div class="flex-grow-1 mr-4 mb-3">
                <label class="mb-0 mr-2"><h5>Status</h5></label>
                <button id="statusCheckboxToggle" type="button" class="btn btn-light btn-sm clear-filter-btn mb-1">Clear All</button>
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row">
                        <div class="mr-1">
                            <label class="checkbox-container" for="currentStatusCheck">Current
                                <input class="checkbox-input" id="currentStatusCheck" type="checkbox" name="currentStatusCheck" checked/>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="d-flex flex-grow-1 tooltip-status">
                            <span class="" alt="<strong>Current Info</strong><br>This activity has been checked or updated in the last 6 months"><i class="fa fa-check-circle fa-1x text-success"></i><span class="tooltip-status-text"><strong>Current Info</strong><br>This activity has been checked or updated in the last 6 months</span></span>
                        </div>
                        <div class="d-flex flex-grow-1">
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="mr-1">
                            <label class="checkbox-container" for="reviewStatusCheck">Under Review
                                <input class="checkbox-input" id="reviewStatusCheck" type="checkbox" name="reviewStatusCheck"/>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="d-flex flex-grow-1 tooltip-status">
                            <span class="tooltip-status" alt="<strong>Under Review</strong><br>This activity has not been checked or updated in the last 6 months. The information might be out of date."><i class="fa fa-question-circle fa-1x text-warning"></i><span class="tooltip-status-text"><strong>Under Review</strong><br>This activity has not been checked or updated in the last 6 months. The information might be out of date.</span></span>
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="mr-1">
                    <label class="checkbox-container" for="removedStatusCheck">Out of date
                        <input class="checkbox-input" id="removedStatusCheck" type="checkbox" name="removedStatusCheck"/>
                        <span class="checkmark"></span>
                    </label>
                        </div>
                        <div class="d-flex flex-grow-1 tooltip-status">
                            <span class="tooltip-status" alt="<strong>Out of Date</strong><br>This activity has been removed because it has already happend or has not been updated for over a year."><i class="fa fa-times-circle fa-1x text-danger"></i><span class="tooltip-status-text"><strong>Out of Date</strong><br>This activity has been removed because it has already happend or has not been updated for over a year.</span></span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="flex-grow-1 mr-4 mb-3">
                <label class="mb-0 mr-2"><h5>Ages</h5></label>
                <button id="agesCheckboxToggle" type="button" class="btn btn-light btn-sm clear-filter-btn mb-1">Clear All</button>
                <div class="d-flex flex-column align-items-start">
                    <label class="checkbox-container" for="allAgesCheck">All Ages
                        <input id="allAgesCheck" type="checkbox" name="allAgesCheck" checked/>
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-container" for="adultsCheck">Adults
                        <input id="adultsCheck" type="checkbox" name="adultsCheck" checked/>
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-container" for="childrenCheck">Children
                        <input id="childrenCheck" type="checkbox" name="childrenCheck" checked/>
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            
            <div class="flex-grow-1 mr-4 mb-3">
                <label class="mb-0 mr-2"><h5>Suitable for</h5></label>
                <button id="suitableCheckboxToggle" type="button" class="btn btn-light btn-sm clear-filter-btn mb-1">Clear All</button>
                <div class="d-flex flex-column align-items-start">
                    <label class="checkbox-container" for="allAbilitiesCheck">All Abilities
                        <input class="checkbox-input" id="allAbilitiesCheck" type="checkbox" name="allAbilitiesCheck" checked/>
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-container" for="learningDisabilitiesCheck">Learning Disabilities
                        <input class="checkbox-input" id="learningDisabilitiesCheck" type="checkbox" name="learningDisabilitiesCheck" checked/>
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-container" for="physicalDisabilitiesCheck">Physical Disabilities
                        <input class="checkbox-input" id="physicalDisabilitiesCheck" type="checkbox" name="physicalDisabilitiesCheck" checked/>
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            
            <div class="flex-grow-1 mr-4">
                <label class="mb-0 mr-2"><h5>Type</h5></label>
                <button id="typeCheckboxToggle" type="button" class="btn btn-light btn-sm clear-filter-btn mb-1">Clear All</button>
                <div class="d-flex flex-row flex-wrap">
                    
                    <div class="d-flex flex-column align-items-start mr-3">
                        <label class="checkbox-container" for="dailyActivitiesCheck">Daily Activities
                            <input class="checkbox-input" id="dailyActivitiesCheck" type="checkbox" name="dailyActivitiesCheck" checked/>
                            <span class="checkmark"></span>
                        </label>
                        <label class="checkbox-container" for="weeklyActivitiesCheck">Weekly Activities
                            <input class="checkbox-input" id="weeklyActivitiesCheck" type="checkbox" name="weeklyActivitiesCheck" checked/>
                            <span class="checkmark"></span>
                        </label>
                        <label class="checkbox-container" for="monthlyActivitiesCheck">Monthly Activities
                            <input class="checkbox-input" id="monthlyActivitiesCheck" type="checkbox" name="monthlyActivitiesCheck" checked/>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    
                    <div class="d-flex flex-column align-items-start mr-3">
                    <label class="checkbox-container" for="annualActivitiesCheck">Annual Activities
                        <input class="checkbox-input" id="annualActivitiesCheck" type="checkbox" name="annualActivitiesCheck" checked/>
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-container" for="oneOffEventsCheck">One-Off Events
                        <input class="checkbox-input" id="oneOffEventsCheck" type="checkbox" name="oneOffEventsCheck" checked/>
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-container" for="bookYourselfCheck">Book Yourself
                        <input class="checkbox-input" id="bookYourselfCheck" type="checkbox" name="bookYourselfCheck" checked/>
                        <span class="checkmark"></span>
                    </label>
                    </div>
                    
                </div>
            </div>
            
        </div>
        
    </div>

</div>
<!-- MAP SEARCH END -->

<!--NUMBER OF ACTIVITIES FOUND SHOW MESSAGE HERE-->
<div class="container nopadding">
    <div class="d-flex justify-content-center nopadding">
        <div class="col-lg-4 col-md-5 col-sm-6">
            <div id="numActivitiesFoundMessage" class="alert alert-success text-center" role="alert" style="display: none;">
            
            </div>
        </div>
    </div>
</div>

<!--IF NO ACTIVITIES FOUND SHOW MESSAGE HERE-->
<div class="container">
    <div>
        <div id="noActivitiesFoundMessage" class="alert alert-info text-center" role="alert" style="display: none;">
        
        </div>
    </div>
</div>

<!-- GENERATE ACTIVITY GRID WITH AJAX-->
<div class="container">
    <div class="row text-center grid" id="activity-grid">
        
    </div>

    <div class="d-flex justify-content-center row text-center">
        <div class="col-md-6 mb-4">
            <button id="loadMoreBtn" type="button" class="btn btn-success btn-block">Load more <i class="fa fa-arrow-down"></i></button>
        </div>
    </div>
    
</div>


<!-- Need to fix this async defer to make sure the loading is in the correct order -->

<!-- Masonry Image Scripts-->
<script src="/js/lib/masonry.pkgd.min.js"></script>

<script src="/js/activityIndex/listenersIndex.js"></script>
<script src="/js/activityIndex/activityIndex.js"></script>
<script src="/js/activityIndex/mapIndex.js"></script>
<script src="/js/activityIndex/filtersIndex.js"></script>
<script src="/js/activityIndex/searchIndex.js"></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.32&key=<%= process.env.MAPPING_API_KEY %>&callback=initActivityIndexMap"></script>

<% include ../partials/footer %>