<% include ../partials/header %>

<div class="container pb-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <header class="jumbotron text-center">
               <h1>Add an Activity</h1>
               <h5>It's FREE and always will be</h5>
            </header>
        </div>
        
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-xl-8">
            
        <p class="card card-body">
            To add  <% if(activityName) { %>
                        <%= activityName %> 
                    <% } else { %>
                        this activity 
                    <% } %>
            to the Sociable Life map you can either add it as a guest or create your own account.
            <br><br>
            Sociable Life is a completely FREE service, creating an account just makes your life easier if you want to update and manage the activities you add.
            <br><br>
            Have a look below at each option to see which is best for you.
        </p>
            
            <div class="d-flex flex-row flex-wrap justify-content-between align-items-start mb-5">
                <div class="d-flex flex-column justify-content-start align-items-center card card-body card-grey mb-2 col-md-5">
                    <h2>Add as Guest</h2>
                    <p>
                        <span class="d-flex flex-row mb-2">
                            <span class="mr-2"><i class="fas fa-chevron-circle-right"></i></span>
                            <span>Doesn't require an account</span>
                        </span>
                        <span class="d-flex flex-row mb-2">
                            <span class="mr-2"><i class="fas fa-chevron-circle-right"></i></span>
                            <span>Ask moderators to update your activities once submitted</span>
                        </span>
                        <span class="d-flex flex-row mb-2">
                            <span class="mr-2"><i class="fas fa-chevron-circle-right"></i></span>
                            <span>You won't receive recognition for adding new activities</span>
                        </span>
                    </p>
                    <a href="/activities/new<% if(activityName) { %>?activityName=<%= activityName %><% } %>" class="btn btn-lg btn-success mb-3">Add as Guest</a>
                </div>
                
                <div class="d-flex flex-column justify-content-start align-items-center card card-body card-grey col-md-6">
                    <h2>Use your own account</h2>
                    <p>
                        <span class="d-flex flex-row mb-2">
                            <span class="mr-2"><i class="fas fa-chevron-circle-right"></i></span>
                            <span>Update and edit your own activities</span>
                        </span>
                        <span class="d-flex flex-row mb-2">
                            <span class="mr-2"><i class="fas fa-chevron-circle-right"></i></span>
                            <span>Having an account lets you comment on and love activities</span>
                        </span>
                        <span class="d-flex flex-row mb-2">
                            <span class="mr-2"><i class="fas fa-chevron-circle-right"></i></span>
                            <span>You can add information to your user profile to tell people more about you and what you do</span>
                        </span>
                        <span class="d-flex flex-row mb-2">
                            <span class="mr-2"><i class="fas fa-chevron-circle-right"></i></span>
                            <span>Receive points for adding new activities</span>
                        </span>
                    </p>
                    <div class="d-flex flex-row flex-wrap justify-content-center">
                        <a href="/login?return_url=/activities/newAuthor<% if(activityName) { %>&activityName=<%= activityName %><% } %>" class="btn btn-lg btn-primary mr-1 mb-3">Login</a>
                        <a href="/inviteCode?return_url=/activities/newAuthor<% if(activityName) { %>&activityName=<%= activityName %><% } %>" class="btn btn-lg btn-success mb-3">Sign up for Free</a>
                    </div>
                </div>
            </div>
            
            <a href="javascript:history.back()">Go Back</a>
            
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        if($('#name').val()){
            activityInput();
        }
    });

    $('#checkActivityBtn').on('click', async function(){
        activityInput();
    });

    
</script>

<% include ../partials/footer %>