<% include ../partials/header %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <header class="jumbotron">
               <h1>Add New Comment to <%= activity.name %></h1> 
            </header>
        </div>
            
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
            <form action="/activities/<%= activity._id %>/comments" method="POST">
                <div class="form-group">
                    <textarea class="form-control" name="comment[text]" placeholder="Write your comment..." rows="5" cols="70" required></textarea>
                </div>
                
                <div class="container">
                    <div class="form-group">
                        <div class="row justify-content-end">
                            <button class="col-sm-6 btn btn-lg btn-primary btn-block">Submit!</button>
                        </div>
                    </div>   
                </div>
            </form>
            <a href="javascript:history.back()">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>