<!DOCTYPE html>
<html>
    <head>
        <title>Sociable Life</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script> <!-- async means this asset loads at the same time as the rest of the page -->
    </head>
    <body>
    
    <div id="landing-header">
 		<h1>Welcome to Sociable Life!</h1>
		<a href="/activities" class="btn btn-lg btn-success">View All Activities</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include partials/footer %>