<% include ../partials/header %>

<div class="container pb-5">

    <div class="container pb-5">
        <h1>Our Story</h1>
        <p>Sociable Life was founded out of frustration with not being able to find an easy to use source of information for accessible activities in the UK for people with disabilities.</p>
            
        <p>We're on a mission to collect and share stories and experiences of people with disabilities so that all the amazing work people are already doing can be found by everyone.</p>
            
        <p>Sociable Life is based in London, but we find activities all over the UK with the help of our Sociable Life Heroes!</p>
    </div>
    <div class="container pb-5">
        <div class="d-flex flex-row flex-wrap">
            <div class="d-flex col-md-4 col-lg-3 justify-content-center align-items-start">
                <img class="img-fluid mb-2" src="https://res.cloudinary.com/amovos/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto,r_max/v1528307757/GeneralAssets/Headshot.png">
            </div>
            <div class="col-md-8 col-lg-9">
                <h2>Tom Harris</h2>
                <h3 class="text-primary">Sociable Life Founder</h3>
                <p>
                    As chairman of a charity, I help to organise an activity holiday for adults with disabilities every year, but wanted to find other activities to recommend to the people who attend the camp. I'm really excited about being able to share the hard work that so many people around the UK are already doing.
                </p>
                <p>
                    <a href="https://www.odyssians.com">Odyssians</a> is a charity that organises an annual summer activity camp for young disabled adults, which has been my source of inspiration for creating Sociable Life.
                </p>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <h2>Sociable Life Heroes</h2>
        <h6>A big thank you to all the people that helped with this project from the very start and along the way!</h6>
        <div class="d-flex flex-row flex-wrap">
            <div class="d-flex flex-column col-sm-6 col-md-3 col-lg-3 mt-2 align-items-center">
                <img class="img-fluid mb-2" src="https://res.cloudinary.com/amovos/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto,r_max/v1528307760/GeneralAssets/IMG_8252_-_Copy_zcmgam.jpg">
                <h5>Kathy Mitchell</h5>
                <h6 class="text-primary">Sociable Life Hero</h6>
            </div>
            <div class="d-flex flex-column col-sm-6 col-md-3 col-lg-3 mt-2 align-items-center">
                <img class="img-fluid mb-2" src="https://res.cloudinary.com/amovos/image/upload/c_fill,fl_lossy,h_320,w_320,f_auto,g_faces:auto,q_auto,r_max/v1528307762/GeneralAssets/20180213_161333_zexrgd.jpg">
                <h5>Ben Wearn</h5>
                <h6 class="text-primary">Sociable Life Hero</h6>                
            </div>
            <div class="d-flex flex-column col-sm-6 col-md-3 col-lg-3 mt-2 align-items-center">
                <img class="img-fluid mb-2" src="https://res.cloudinary.com/amovos/image/upload/c_fill,fl_lossy,h_320,w_320,f_auto,g_faces:auto,q_auto,r_max/v1528307768/GeneralAssets/8e4a5390-b299-48bb-9054-645543d1aa3c_ztgwmi.jpg">
                <h5>Becky Hart</h5>
                <h6 class="text-primary">Sociable Life Hero</h6>                
            </div>
            <div class="d-flex flex-column col-sm-6 col-md-3 col-lg-3 mt-2 align-items-center">
                <img class="img-fluid mb-2" src="https://res.cloudinary.com/amovos/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto,r_max/v1528307772/GeneralAssets/26815604_10156431309510579_7673221678805662_n_brmmby.jpg">
                <h5>Kevin Coghlan</h5>
                <h6 class="text-primary">Sociable Life Hero</h6>                
            </div>
        </div>
    </div>

</div>

<% include ../partials/footer %>