<% include ../partials/header %>

<div class="container">

    <header class="jumbotron">
        <div class="container">
            <h1>Sociable Life: Our Story</h1>
            <p>Sociable Life was founded out of frustration with not being able to find an easy to use source of information for accessible activities in the UK for people with disabilities.</p>
                
            <p>We're on a mission to collect and share stories and experiences of people with disabilities so that all the amazing work people are already doing can be found by everyone.</p>
                
            <p>Sociable Life is based in London, but we find activities all over the UK with the help of our Sociable Life Heroes!</p>

        </div>
    </header>

</div>

<% include ../partials/footer %>