<% include ../partials/header %>

<div class="container pb-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <header class="jumbotron text-center">
               <h1>Contact Us <i class="fa fa-envelope"></i></h1> 
               <h5>We'd love to hear from you!</h5>
               <br>
               <h5>Please use the form below or send an email to <a href="mailto:hello@sociablelife.uk">hello@sociablelife.uk</a></h5>
               <h5>You can also tweet us <a href="https://twitter.com/SociableLife">@SociableLife</a> or send us a message on <a href="https://twitter.com/SociableLife">Facebook</a></h5>
            </header>
        </div>
        
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
            <form action="/contact" method="POST">
                <div class="form-group">
                    <label for="name">Name *</label>
                    <input class="form-control" type="text" id="name" name="name" required>
                </div>
                
                <div class="form-group">
                    <label for="email">Email *</label>
                    <input class="form-control" type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Message *</label>
                    <textarea class="form-control" id="message" name="message" placeholder="Enter Message Here" rows="4" required></textarea>
                </div>
                
                <!-- reCaptcha check box -->
                <div class="container">
                    <div class="form-group">
                        <div class="row justify-content-start">
                            <div class="g-recaptcha" data-sitekey="<%= process.env.CAPTCHA_SITE %>"></div>
                        </div>
                    </div>
                </div> 
                
                <div class="container">
                    <div class="form-group">
                        <div class="row justify-content-end">
                            <button class="col-sm-6 btn btn-lg btn-primary btn-block">Submit!</button>
                        </div>
                    </div> 
                </div>
            </form>
            <a href="javascript:history.back()">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>