<% include ../partials/header %>

<div class="container pb-5">

    <header class="jumbotron">
        <div class="container">
            <h1>Sociable Life Privacy Policy:</h1>
            <p>
                Personal information collected from visitors of this site will only be used to facilitate a response to enquiries and to maintain an accurate profile of site usage. Sociable Life, in accordance with the Data Protection Act, will not pass on or sell your data to other organisations or partners.
            </p>
                
            <p>
                Data is automatically collected on every visitor, however this remains anonymous and cannot be traced. The data collected is used to ensure that site development meets visitor preference increasing benefit for both visitor and Sociable Life.
            </p>
                
            <p>
                If you would like more information on our privacy policy, please email us at hello@sociablelife.uk.
            </p>

        </div>
    </header>

</div>

<% include ../partials/footer %>