<% include ../partials/header %>

<div class="container">

    <header class="jumbotron">
        <div class="container">
            <h1>Sociable Life Terms & Conditions:</h1>
            <p>
                Sociable Life does not represent or endorse the accuracy or reliability of any of the information, content or advertisements contained on, distributed through, or linked, downloaded or accessed from any of the services contained on this website nor the quality of any products, information or other materials displayed, or obtained by you as a result of an psychological or any other information or offer in or in connection with the service.
            </p>
                
            <p>
                You hereby acknowledge that any reliance upon any information shall be at your sole risk. Sociable Life reserves the right, in its sole discretion and without any obligation, to make improvements to, or correct any error or omissions in any portion of the service.
            </p>
                
            <p>
                The service and the information herein are provided by Sociable Life on an “as is” basis, Sociable Life expressly disclaims any and all warranties, express or implied, including without limitation warranties of merchantability and fitness for a particular purpose, with respect to the service or any information and products. In no event shall Sociable Life be liable for any direct, indirect, incidental, punitive, or consequential damages of any kind whatsoever with respect to the service, the information and the products. We reserve the right to edit any part of sites submitted to Sociable Life or delete sites if the content is not felt to be appropriate. All submissions are checked by humans!
            </p>

        </div>
    </header>

</div>

<% include ../partials/footer %>