<% include ../partials/header %>

<div class="container pb-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <header class="jumbotron text-center">
               <h1>Please enter your invite code</h1>
               <p>The Sociable Life website is currently in a Beta version. While we make improvements we're limiting the number of users who can create accounts. If you would like to be part of our early trial please <a href="/contact">send us a message</a>.</p>
            </header>
        </div>
        
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
            <form action="/register" method="GET">
                
                <!-- Hidden return URL input from querystring -->
                <input id="returnUrl" type="hidden" name="return_url">
                
                <div class="container">
                    <div class="form-group">
                        <div class="row justify-content-center">
                            <label class="sr-only" for="inviteCode"></label>
                            <input class="col-md-8 col-sm-7 form-control" type="text" name="inviteCode" placeholder="Invite Code" required>
                        </div>
                    </div>
                </div>
                
                <div class="container">
                    <div class="form-group">
                        <div class="row justify-content-center">
                            <button class="col-md-8 col-sm-7 btn btn-lg btn-primary btn-block">Submit!</button>
                        </div>
                    </div>
                </div>
            </form>
            <a href="javascript:history.back()">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>