<% include ../partials/header %>

<div class="container pb-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <header class="jumbotron text-center">
               <h1>Please register</h1> 
            </header>
        </div>
        
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
            <form id="registerForm" action="/register" method="POST" enctype="multipart/form-data">
                
                <div class="container">
                    <div class="form-group">
                        <div class="row justify-content-center align-items-center">
                            <label class="col-md-4 col-sm-5" for="email"><span class="align-text-top">Email Address *</span></label>
                            <input id="email" class="col-md-8 col-sm-7 form-control" type="email" name="email" placeholder="" required>
                        </div>
                    </div>
                </div>
                
                <div class="container">
                    <div class="form-group">
                        <div class="row justify-content-center align-items-center">
                            <label class="col-md-4 col-sm-5" for="password"><span class="align-text-top">Password *</span></label>
                            <input id="password" class="col-md-8 col-sm-7 form-control" type="password" name="password" placeholder="" required>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="form-group">
                        <div class="row justify-content-center align-items-center">
                            <label class="col-md-4 col-sm-5" for="firstName"><span class="align-text-top">First Name *</span></label>
                            <input id="firstName" class="col-md-8 col-sm-7 form-control" type="text" name="firstName" placeholder="" required>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="form-group">
                        <div class="row justify-content-center align-items-center">
                            <label class="col-md-4 col-sm-5" for="lastName"><span class="align-text-top">Last Name *</span></label>
                            <input id="lastName" class="col-md-8 col-sm-7 form-control" type="text" name="lastName" placeholder="" required>
                        </div>
                    </div>
                </div>
                
                <div class="container">
                    <div class="form-group">
                        <div class="row justify-content-center align-items-center">
                            <label class="col-md-4 col-sm-5" for="displayName"><span class="align-text-top">Display Name *</span></label>
                            <input id="displayName" class="col-md-8 col-sm-7 form-control" type="text" name="displayName" placeholder="What other people will see" required>
                        </div>
                    </div>
                </div>
                
                <div class="container">
                    <div class="form-group">
                        <div class="row justify-content-center align-items-center">
                            <span class="col-md-4 col-sm-5"></span>
                            <label class="checkbox-container col-md-8 col-sm-7 pr-0" for="mailingList">
                                Would you like to sign up to our mailing list?
                                <input class="checkbox-input" id="mailingList" type="checkbox" name="mailingList"/>
                                <span class="checkmark border mt-1"></span>
                            </label>
                        </div>
                    </div>
                </div>
                
                <div class="container">
                    <div class="form-group">
                        <div class="row justify-content-center align-items-center">
                            <span class="col-md-4 col-sm-5"></span>
                            <label class="checkbox-container col-md-8 col-sm-7 pr-0" for="termsCheck">
                                *  Please check this box to confirm you agree with our <a href="terms">terms and conditons</a> and our <a href="/privacy">privacy policy</a>
                                <input class="checkbox-input" id="termsCheck" type="checkbox" name="termsCheck"/>
                                <span class="checkmark border mt-1"></span>
                            </label>
                        </div>
                    </div>
                </div>
                
                <!-- reCaptcha check box -->
                <div class="container">
                    <div class="form-group">
                        <div class="row justify-content-end">
                            <div class="row justify-content-end col-md-8 g-recaptcha" data-sitekey="<%= process.env.CAPTCHA_SITE %>"></div>
                        </div>
                    </div>
                </div> 
                
                <!-- Error message box -->
                <div id="errorMessageContainer" class="container" style="display: none;">
                    <div class="row justify-content-end">
                            <div id="errorMessageDiv" class="alert alert-warning fade show col-md-8" role="alert">
                        </div>
                    </div>
                </div>
                
                <!-- Submit form button-->
                <div class="container">
                    <div class="form-group">
                        <div class="row justify-content-end">
                            <button class="col-md-8 btn btn-lg btn-primary btn-block">Create your free account!</button>
                        </div>
                    </div>
                </div>
            </form>
            <a href="javascript:history.back()">Go Back</a>
        </div>
    </div>
</div>

<script type='text/javascript'>
    $("#registerForm").submit(function(event) {
        /* stop form from submitting normally */
        event.preventDefault();
        
        /* get the action attribute from the <form action=""> element */
        var $form = $( this ),
            url = $form.attr( 'action' );
        
        /* Send the data using post*/
        var posting = $.post( url, {    email: $('#email').val(), 
                                        password: $('#password').val(), 
                                        firstName: $('#firstName').val(), 
                                        lastName: $('#lastName').val(),
                                        displayName: $('#displayName').val(),
                                        mailingList: $('#mailingList').is(':checked'),
                                        termsCheck: $('#termsCheck').is(':checked'),
                                        captcha: grecaptcha.getResponse()
                                    } 
                            );
                            
        /* Process returned result */
        posting.done(function( data ) {
            if(data.type === "error") {
                //show error message box with error message
                $('#errorMessageContainer').show();
                $('#errorMessageDiv').html(data.message);
            } else if (data.type === "success") {
                if(getUrlVars().return_url){
                    var fixedUrlString = getUrlVars().return_url.replace(/%2F/g, "/");
                    
                    if(getUrlVars().activityName){
                        fixedUrlString += "?activityName=" + getUrlVars().activityName;
                    }
                    
                    window.location.href = fixedUrlString;
                } else {
                    window.location.href = "/activities";
                }
            }
        });
    });
</script>

<% include ../partials/footer %>