<% include ../partials/header %>

<div class="container pb-5">

    <header class="jumbotron">
        <div class="container">
            <h1>Delete User: <%= user.displayName %></h1>
            <p>
                All of your comment, loves and points will be deleted.
            </p>
                
            <p>
                Any activities you have added won't be deleted and will be transferred to the "Sociable Life Community" user. 
                If you would like to delete an activity please request that on the individual activitity pages.
            </p>
            
            <p>
                Are you sure you want to delete your profile? 
                <br>
                <strong>This action cannot be undone.</strong>
            </p>
            
            <form class="inline-form" action="/users/<%= user._id %>/delete?_method=DELETE" method="POST">
                <button  class="btn btn-danger mb-2">
                    Yes, please delete my profile
                </button>
            </form>
                <a class="btn btn-primary mb-2" href="/users/<%= user._id %>">
                    No, don't delete my profile
                </a>
        </div>
    </header>

</div>

<% include ../partials/footer %>